<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\Myrtille.Services.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="Log4netTraceListener" type="Myrtille.Log.Log4netTraceListener, Myrtille.Common">
          <!-- trace level (Information, Warning or Error) -->
          <filter type="Myrtille.Log.Log4netTraceFilter, Myrtille.Common" initializeData="Information" />
        </add>
        <!-- disable output window traces -->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="Myrtille.Services.RemoteSessionProcess">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBindingCallback" contract="Myrtille.Services.Contracts.IRemoteSessionProcess" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Myrtille/RemoteSessionProcess" />
          </baseAddresses>
        </host>
      </service>
      <service name="Myrtille.Services.FileStorage" behaviorConfiguration="FileStorageServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingFileStorage" contract="Myrtille.Services.Contracts.IFileStorage" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Myrtille/FileStorage" />
          </baseAddresses>
        </host>
      </service>
      <service name="Myrtille.Services.MFAAuthentication">
        <endpoint address="" binding="basicHttpBinding" contract="Myrtille.Services.Contracts.IMFAAuthentication" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Myrtille/MFAAuthentication" />
          </baseAddresses>
        </host>
      </service>
      <service name="Myrtille.Services.EnterpriseService">
        <endpoint address="" binding="basicHttpBinding" contract="Myrtille.Services.Contracts.IEnterpriseService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Myrtille/EnterpriseService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBindingCallback" receiveTimeout="infinite" maxReceivedMessageSize="2147483647">
          <security mode="Message" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="infinite" />
        </binding>
      </wsDualHttpBinding>
      <basicHttpBinding>
        <!-- buffer size: 64KB; max file size: 1GB -->
        <binding name="basicHttpBindingFileStorage" transferMode="Streamed" messageEncoding="Mtom" maxBufferSize="65536" maxReceivedMessageSize="1073741824" closeTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" sendTimeout="infinite">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FileStorageServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!-- log remote session events into a file (located into <Myrtille folder>\log) -->
    <add key="RemoteSessionLog" value="false" />
    
    
    <!--Comment MFAAuthAdapter out if you do not wish to use 2fa-->
    <!--<add key="MFAAuthAdapter" value="Myrtille.OASISOTPAdapter.OTPAdapter, Myrtille.OASISOTPAdapter" />-->
    
    <!--OASIS app settings, visit https://oasis.oliveinnovations.com register, create an application to get details-->
    
    <!--<add key="OASISApiKey" value="login to oasis admin and go to application for value" />
    <add key="OASISAppID" value="login to oasis admin and go to application for value" />
    <add key="OASISAppKey" value="login to oasis admin and go to application for value" />-->
    
    <!--end mfa adapter config-->
    
    
    <!--Comment enterprise adapter settings if you do not wish to pre authenticate users and use enterprise mode-->
    
    <!--<add key="EnterpriseAdapter" value="Myrtille.Enterprise.ActiveDirectory, Myrtille.Enterprise" />
    <add key="EnterpriseAdminGroup" value="a user group to allow admin functions" />
    <add key="EnterpriseDomain" value="name or IP of directory server" />-->
    
    <!--end comments-->
  </appSettings>
</configuration>